:root {
  --background-color: #0e1823;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* .container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
} */

.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* HEADER */

.header {
  /* padding-top: 32px; */
  padding-top: 20px;
}

.header-container {
  /* width: 1240px;
  height: 48px; */
  width: 335px;
  height: 42px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #fbfbfb;
}

.header-text {
  color: #1b414b;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  padding-left: 20px;
  /* 
  padding-left: 30px;
*/
}

.header-text:focus,
.header-text:hover {
  transform: scale(1.15);
  transition: transform 250ms ease-in-out;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}

.header-menu {
  stroke: #1b414b;
  margin-right: 20px;
}

.header-list {
  display: none;
}

.header-icon {
  /*
  padding-right: 30px; */
  display: none;
}

/* HERO */

.hero-container {
  /* padding-top: 155px;
  padding-bottom: 180px; */
  padding-top: 198px;
  padding-bottom: 243px;
  background-image: linear-gradient(
      360deg,
      rgba(17, 19, 31, 0.8) 15.05%,
      rgba(17, 19, 31, 0.8) 75.3%,
      rgba(17, 19, 31, 0.8) 98.27%
    ),
    url("../images/yacht.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.hero-title {
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  /* max-width: 1000px;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.02em; */
}

.hero-text {
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin: 0 auto;
  font-weight: 300;
  font-size: 12px;
  line-height: 117%;
  margin-bottom: 38px;
}

.hero-button {
  display: block;
  border: none;
  background-color: #1b414b;
  color: #fbfbfb;
  margin: 0 auto;
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

.hero-button:focus,
.hero-button:hover {
  box-shadow: 5px 6px 25px 4px rgba(27, 65, 75, 1);
  transition: box-shadow 250ms ease-in-out;
}

/* ABOUT */

.about-title {
  letter-spacing: -0.02em;
  color: #1b414b;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  padding-top: 40px;
  margin-bottom: 40px;
  /* font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  max-width: 536px;
  padding-top: 50px;
  padding-left: 50px; */
}

.about-description {
  letter-spacing: -0.02em;
  color: #1b414b;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 20px;
  /* 
  font-size: 23px;
  line-height: 100%;
  margin-bottom: 20px; */
}

.about-text {
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
  font-size: 12px;
  line-height: 117%;
  margin-bottom: 40px;
  /* font-weight: 400;
  font-size: 13px;
  line-height: 115%; */
}

.about-container {
  background-color: #fbfbfb;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
  width: 335px;
  height: 675px;
  /* display: flex;
  gap: 300px;
  width: 1340px;
  height: 675px;
  min-width: 1340px; */
}

/* .about-wrapper {
  padding-top: 50px;
  padding-right: 50px;
} */

.about-photo-mobile {
  width: 337px;
  height: 395px;
  border-radius: 0 24px 0 0;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 180%;
  /* 
  top: 155%;
  width: 1342px;
  left: 50%;
  translate: -50%; */
}

.about-photo-tablet {
  display: none;
}

/* TYPES */

.types {
  padding-top: 180px;
  /* padding-top: 300px; */
}

.types-title {
  max-width: 319px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  margin-bottom: 40px;
  /* max-width: 714px; */
}

/* .types-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
} */

.types-item {
  background-color: #fbfbfb;
  border-radius: 24px;
  width: 334px;
  height: 478px;
  /* width: 392px;
  height: 508px; */
}

.types-item-desktop {
  display: none;
}

.types-item-tablet {
  display: none;
}

.types-photo {
  padding: 16px 16px 0 16px;
  margin-bottom: 32px;
}

.types-item:hover {
  transform: scale(1.05);
  transition: scale 250ms ease-in-out;
}

.types-text {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  padding-left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  /* font-size: 16px;
  line-height: 120%;
  min-width: 177px; */
}

.types-description {
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  padding-right: 32px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
}

.types-text-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
  margin-bottom: 16px;
}

.types-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  padding-left: 32px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.types-charact {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #040306;
  margin-bottom: 6px;
}

.types-name-wrapper {
  display: flex;
  gap: 114px;
  /* gap: 175px; */
}

.types-list {
  margin-bottom: 40px;
}

.types-button {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.35);
  width: 141px;
  height: 46px;
  border-radius: 15px;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 0 auto;
  font-size: 14px;
  line-height: 129%;
}

.types-button:focus,
.types-button:hover {
  background-color: #fbfbfb;
  color: #1b414b;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

/* BENEFITS */

.benefits {
  padding-top: 80px;
  padding-bottom: 80px;
  /* padding-top: 150px;
  padding-bottom: 150px; */
}

.benefits-wrapper {
  background-color: #1b414b;
  border-radius: 24px;
  width: 335px;
  height: 642px;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  /* width: 768px;
  height: 424px;
  padding-top: 90px;
  padding-left: 50px; */
}

.benefits-list {
  /* display: flex;
  flex-wrap: wrap;
  gap: 32px; */
}

.benefits-title {
  padding-bottom: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  margin-bottom: 18px;
  border-bottom: 2px solid rgba(251, 251, 251, 0.1);
  width: 295px;
  font-size: 28px;
  /* width: 318px;
  font-size: 32px; */
}

.benefits-item {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
  font-size: 12px;
  line-height: 117%;
  margin-bottom: 40px;
  /* font-size: 13px;
  line-height: 115%;
  margin-bottom: 44px;
  max-width: 292px; */
}

.benefits-photo-wrapper {
  border-radius: 24px;
}

.benefits-photo-mobile {
  width: 335px;
  height: 424px;
}

.benefits-photo-tablet {
  display: none;
}

.benefits-photo-desktop {
  display: none;
}

/* .benefits-container {
  display: flex;
  gap: 32px;
} */

/* ORDER */

.order {
  padding-bottom: 80px;
  /* padding-bottom: 150px; */
}

.order-title {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  font-size: 28px;
  margin-bottom: 40px;
  /* font-size: 48px;
  margin-bottom: 50px; */
}

/* .order-container {
  display: flex;
  gap: 50px;
} */

.order-photo {
  /* max-width: 768px; */
}

.order-photo-tablet {
  display: none;
}

.order-input {
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px 14px;
  width: 335px;
  height: 42px;
  margin-bottom: 18px;
  /* padding: 18px 18px 18px;
  width: 472px;
  height: 54px; */
}

.textarea {
  resize: none;
  width: 335px;
  height: 108px;
  margin-bottom: 40px;
  /* width: 472px;
  height: 116px;
  margin-bottom: 50px; */
}

.form-container {
  padding-left: 0;
}

.form-button {
  border: none;
  border-radius: 15px;
  width: 122px;
  height: 46px;
  background-color: #1b414b;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 80px;
  /* padding: 18px 75px; */
  /* width: 194px;
  height: 56px; */
  /* font-size: 18px;
  line-height: 110%; */
}

.form-button:focus,
.form-button:hover {
  box-shadow: 5px 6px 25px 4px rgba(27, 65, 75, 1);
  transition: box-shadow 250ms ease-in-out;
}

/* RESPONSE */

.response {
  padding-bottom: 80px;
  /* margin-bottom: 150px; */
}

.response-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  margin-bottom: 25px;
  /* max-width: 854px; */
}

.response-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  margin: 0 auto;
  margin-bottom: 40px;
  /*
  max-width: 571px; */
}

.response-list-wrapper {
  display: none;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 32px 36px;
  width: 392px;
  height: 282px;
}

.response-list-wrapper-mobile {
  width: 335px;
  height: 282px;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding-top: 32px;
}

/* .response-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
} */

.response-photo {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.response-photo-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.response-photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  padding-right: 16px;
  padding-left: 16px;
  min-width: 303px;
}

.response-item:hover {
  transform: scale(1.05);
  transition: scale 350ms ease-in-out;
}

/* FOOTER  */

.footer {
  background-color: #1b414b;
  border-radius: 24px 24px 0 0;
  width: 355px;
  height: 412px;
  /* width: 1390px;
  height: 418px;
  padding-top: 50px;
  padding-bottom: 20px; */
}

/* .footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
} */

.footer-nav-mobile {
  display: flex;
  gap: 37px;
}

.footer-nav-text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  padding-top: 40px;
  padding-left: 10px;
  /* font-size: 20px;
  padding-left: 75px; */
}

.footer-nav-text:focus,
.footer-nav-text:hover {
  transform: scale(1.15);
  transition: transform 250ms ease-in-out;
}

.footer-nav-list {
  display: flex;
  gap: 4px;
  padding-top: 40px;
  margin-bottom: 80px;
}

.footer-nav-button {
  width: 66px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.3);
  font-weight: 400;
  font-size: 9px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.footer-nav-button:focus,
.footer-nav-button:hover {
  background-color: #fbfbfb;
  color: #1b414b;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.footer-link:focus,
.footer-link:hover {
  color: #1b414b;
  transition: color 250ms ease-in-out;
}

.footer-soc-photo {
  fill: #fbfbfb;
}

.footer-soc-photo:focus,
.footer-soc-photo:hover {
  transform: scale(1.25);
  transition: transform 250ms ease-in-out;
}

.footer-soc {
  /* padding-right: 75px; */
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
  color: #fbfbfb;
  max-width: 279px;
  margin-bottom: 82px;
  /* max-width: 698px;*/
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

.footer-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* MEDIA */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  /* HEADER */
  .header {
    padding-top: 32px;
  }

  .header-container {
    width: 704px;
    height: 48px;
  }

  .header-menu {
    display: none;
  }

  .header-navigation {
    display: flex;
  }

  .header-list {
    display: flex;
    gap: 4px;
  }

  .header-icon {
    display: flex;
    gap: 8px;
    padding-top: 6px;
    padding-right: 28px;
  }

  .header-soc {
    fill: #1b414b;
  }

  .header-soc:focus,
  .header-soc:hover {
    transform: scale(1.25);
    transition: transform 250ms ease-in-out;
  }

  .header-text {
    width: 74px;
    height: 24px;
    font-size: 20px;
    padding-left: 28px;
  }

  .header-button-nav {
    font-weight: 400;
    font-size: 9px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border: none;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background-color: rgba(27, 65, 75, 0.5);
  }

  .header-button-nav:focus,
  .header-button-nav:hover {
    background-color: #1b414b;
    transition: background-color 250ms ease-in-out;
  }

  .header-button-link {
    color: #fbfbfb;
  }

  .header-navigation {
    padding-top: 4px;
  }

  /* HERO */
  .hero-container {
    padding-top: 200px;
    padding-bottom: 215px;
  }

  .hero-title {
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
  }

  .hero-text {
    max-width: 596px;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 48px;
  }

  .hero-button {
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
  }

  /* ABOUT */

  .about-container {
    width: 704px;
    height: 675px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 276px;
  }

  .about-title {
    letter-spacing: -0.02em;
    color: #1b414b;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    padding-top: 40px;
    margin-bottom: 50px;
    max-width: 536px;
    padding-top: 50px;
  }

  .about-description {
    font-size: 23px;
    margin-bottom: 20px;
    max-width: 389px;
  }

  .about-text {
    font-size: 13px;
    line-height: 115%;
    margin-bottom: 50px;
    max-width: 385px;
  }

  .about-photo-mobile {
    display: none;
  }

  .about-photo-tablet {
    display: block;
    max-width: 704px;
    height: 470px;
    position: absolute;
    top: 215%;
  }

  /* TYPES */

  .types {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .types-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 75px;
    min-width: 645px;
  }

  .types-item {
    width: 336px;
    height: 508px;
  }

  .types-item-tablet {
    display: block;
    background-color: #fbfbfb;
    border-radius: 24px;
    width: 336px;
    height: 508px;
  }

  .types-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .types-text {
    font-size: 16px;
    line-height: 120%;
  }

  .types-text-cut {
    display: none;
  }

  .types-description {
    font-size: 13px;
    line-height: 118%;
  }

  .types-button {
    width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 110%;
  }

  /* BENEFITS */

  .benefits {
    padding-top: 0;
    padding-bottom: 100px;
  }

  .benefits-wrapper {
    width: 704px;
    height: 424px;
    padding-top: 90px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 90px;
    margin-bottom: 32px;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-title {
    width: 304px;
    font-size: 32px;
  }

  .benefits-text {
    font-size: 13px;
    line-height: 115%;
    max-width: 292px;
  }

  .benefits-photo-mobile {
    display: none;
  }

  .benefits-photo-tablet {
    display: block;
  }

  /* ORDER */

  .order {
    padding-bottom: 150px;
  }

  .order-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .order-container {
    margin: 0 auto;
  }

  .form-container {
    padding-left: 116px;
  }

  .order-photo {
    display: none;
  }

  .order-photo-tablet {
    display: block;
  }

  .order-input {
    padding: 18px 18px 18px;
    width: 472px;
    height: 54px;
  }

  .textarea {
    width: 472px;
    height: 116px;
    margin-bottom: 50px;
  }

  .form-button {
    width: 194px;
    height: 56px;
    font-size: 18px;
    line-height: 110%;
    margin-bottom: 50px;
  }

  /* RESPONSE  */

  .response {
    margin-bottom: 15px;
  }

  .response-title {
    font-size: 48px;
  }

  .response-text {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 75px;
  }

  .tablet {
    display: block;
    width: 335px;
    height: 282px;
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .response-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .response-photo-text {
    padding-right: 20px;
    padding-left: 20px;
    min-width: 296px;
  }

  /* FOOTER */

  .footer {
    width: 736px;
    height: 418px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav-mobile {
    display: flex;
    width: 462px;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer-nav-text {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 10px;
  }

  .footer-nav-list {
    display: flex;
    gap: 4px;
    padding-top: 50px;
    margin-bottom: 96px;
  }

  .footer-nav-button {
    width: 91px;
    height: 40px;
  }

  .footer-title {
    font-size: 32px;
    min-width: 640px;
    margin-bottom: 99px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 118%;
  }

  .footer-list {
    gap: 32px;
  }
}
